*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}


.header-nav {
  position: relative;
  background-color:green ;
  width: 1296px;
  top: 40px;
  height: 60px;
  margin-left: 150px;
  margin-right: 150px;
}

.header-nav nav {
  display: inline-block;
  margin-left: 450px;
  position: relative;
  bottom: 40px;
}

.header-nav ul {
  position: relative;
  height: 40px;
}

.header-nav li {
  display: inline-block;
  margin: 0 15px;
}

.header-nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
}

/* ----- CONTENIDO PRINCIPAL ----- */
.main {
  background-image: url("./img/main/main-fondo.jpg");
  background-repeat: no-repeat;
  height: 120vh;
  border-radius: 0px 0px 150px 150px;
}

.main-container {
  position: relative;
  width: 100%;
  height: 507px;
  top: 160px;
  /* background-color: green; */
}

/* ----- CONTENIDO PRINCIPAL DE LA IZQUIERDA ----- */
.main-container-left{
  position: absolute;
  margin-left: 150px;
  height: 507px;
  width: 636px;
  color: #ffffff;
}

.main-container-left h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-container-left h2 {
  position: relative;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 5px;
  font-weight: 700px;
}

.main-container-left p {
  margin-bottom: 70px;
  font-size: 14px;
  line-height: 28px;
}

.form-main input {
  width: 450px;
  height: 50px;
  padding: 0px 25px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  font-size: 14px;
  color: #7a7a7a;
}

.form-main button {
  display: inline-block;
  position: absolute;
  left: 283px;
  height: 50px;
  width: 167px;
  border-radius: 25px;
  border: none;
  background-color: #ee626b;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  cursor:pointer;
}

.form-main button:hover {
  background-color: #0d6efd;
}

/* ----- CONTENIDO DE LA DERECHA ----- */
figure {
  position: relative;
  height: 507px;
  left: 1030px;
}

figure img {
  height: 507px;
  width: 416px;
  border-radius: 25px;
}

figcaption .oferta {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: -25px;
  bottom: -25px;
  border-radius: 50%;
  background-color: #ee626b;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 100px;
}

figcaption .precio {
  position: absolute;
  height: 41px;
  width: 69px;
  background-color: #008af8;
  border-radius: 25px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  font-weight: 700;
  padding: 8px 15px;
  left: 320px;
  bottom: 440px;
}

/* ----- CONTENIDO INFERIOR ----- */
.options-cards {
  height: 205px;
  margin: -80px 0px 0px;
  padding: 0px 130px 0px 145px;
  cursor: pointer;
}

.free-card, .user-card, .reply-card, .easy-card {
  position: absolute;
  height: 205px;
  width: 306px;
  padding: 35px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  background-color: #fff;
  text-align: center;
}

.user-card {
  left: 477px;
}

.reply-card {
  right: 475px ;
}

.easy-card {
  right: 140px;
}

.free-card-container, .user-card-container, .reply-card-container, .easy-card-container {
  position: absolute;
  height: 90px;
  width: 90px;
  background-color: #008af8;
  border-radius: 50%;
  left: 110px;
}

.free-card:hover .free-card-container{
  background-color: #ee626b;
}

.user-card:hover .user-card-container {
  background-color: #ee626b;
  
}

.reply-card:hover .reply-card-container {
  background-color: #ee626b;
  
}

.easy-card:hover .easy-card-container{
  background-color: #ee626b;
  
}

.free-item img {
  position: relative;
  overflow: hidden;
  height: 44px;
  width: 44px;
  top: 25px;
}

.free-card-container h4,.user-card-container h4 , .reply-card-container h4, .easy-card-container h4 {
  height: 20px;
  width: 236px;
  position: absolute;
  right: -75px;
  top: 82px;
  margin: 25px 0px 0px;
  font-size: 17px;
  color: #1e1e1e;
  font-weight: 700;
}

/* ----- TENDENCIAS ----- */
.trending-container {
  position: absolute;
  height: 504px;
  width: 100%;
  margin: 120px 0px 0px;
  padding: 0px 130px;
}

.trending-title {
  height: 152px;
  width: 660px;
}

.trending-title h6 {
  color: #ee626b;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.trending-title h2 {
  color: #1e1e1e;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 20px;
  line-height: 44px;
}

.trending-button {
  height: 152px;
  width: 660px;
  position: relative;
  left: 660px;
  bottom: 152px;
}

.trending-button {
  margin-top: 32px;
  height: 50px; 
}

.trending-button button {
  position: absolute;
  right: 0;
  background-color:  #ee626b;
  height: 50px;
  width: 122px;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  padding: 0px 30px;
  cursor: pointer;
}

.trending-button button:hover {
  background-color: #0d6efd;
}

.item-01 , .item-02, .item-03, .item-04 {
  position: absolute;
  height: 322px;
  width: 306px;
  bottom: 30px;
  border-radius: 25px;
  background-color: #eeeeee;
}

.item-01 img, .item-02 img, .item-03 img, .item-04 img {
  position: relative;
  height: 224px;
  width: 306px;
  border-radius: 25px;
  cursor: pointer;
}

.item-01 {
  position: absolute;
  left: 144px;
}

.item-02 {
  position: absolute;
  left: 474px;
  top: 150px;
}

.item-03 {
  position: absolute;
  right: 474px;
  top: 150px;
}

.item-04 {
  position: absolute;
  right: 144px;
  top: 150px;
}

.item-01:hover .item-container  {
  color: #0d6efd;
}
.item-01:hover .icon-container  {
  background-color: #0d6efd;
}
.item-02:hover .item-container  {
  color: #0d6efd;
}
.item-02:hover .icon-container  {
  background-color: #0d6efd;
}
.item-03:hover .item-container  {
  color: #0d6efd;
}
.item-03:hover .icon-container  {
  background-color: #0d6efd;
}
.item-04:hover .item-container  {
  color: #0d6efd;
}
.item-04:hover .icon-container  {
  background-color: #0d6efd;
}

.precio-item {
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 10px;
  background-color: #008af8;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 8px 15px 6px 15px;
}

.precio-item em {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
  display: block;
}

.item-container {
  position: relative;
  bottom: 3px;
  height: 98px;
  padding: 25px;
  font-size: 16px;
}

.item-container span {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 5px;
  display: inline-block;
}

.item-container h4 {
  font-size: 17px;
  font-weight: 600;
}

.icon-container {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: 30px;
  right: 25px;
  background-color: #ee626b;
  border-radius: 50%;
}

.icon-container i {
  position: absolute;
  top: 10px;
  right: 12px;
  color: #fff;
}


